<h1>Page#dev</h1>
<p>Find me in app/views/page/dev.html.erb</p>

<hr>

<% @sativa.each do |sativa| %>
  {
      "category": "Sativa",
      "symbol": "Sd",
      "name": "Sour Diesel"
    },
<% end %>